* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gillroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: black; */
    position: relative;
    z-index: 10;
}



#Page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #ddcdb8;
    position: relative;
    padding: 0 2vw;


}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav-part2 {
    display: flex;
    justify-content: center;
    gap: 1vw;

}

#nav-part2 h4 {

    padding: 10px 20px;
    border: 1px solid #5c5959;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;


}

#nav-part2 h4::after {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.3s;

    bottom: -100%;


}

#nav-part2 h4:hover::after {

    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}


#nav-part2 h4:hover a {
    color: #fff;
}


#center {
    width: 100%;

    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;

}

#left h3 {

    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;


}

#center h1 {

    width: 45vw;
    font-size: 10vw;
    line-height: 10vw;
    text-align: right;
}

#page1 video {
    border-radius: 30px;
    margin-top: 5vw;
    position: relative;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 36vw;
    height: 36vh;

    right: 0;
    top: 65vh;



}


/* Hero shape only work for the wrapper */

#hero1 {
    height: 100%;
    width: 100%;
    background-color: #fE320A;
    position: absolute;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);

}

#hero2 {
    height: 30vh;
    width: 30vw;
    background: linear-gradient(#fE320A, #cc3d20);
    position: absolute;

    border-radius: 50%;
    filter: blur(20px);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

#hero3 {
    height: 30vh;
    width: 30vw;

    background: linear-gradient(#fE320A, #cc3d20);
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    filter: blur(20px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}


/* How to create the animation */

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}


@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}



#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;



}

#moving-text::-webkit-scrollbar {
    display: none;
}


#moving-text h1 {
    font-size: 9vw;

    display: inline-block;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#gola {
    width: 60px;
    height: 60px;
    background-color: #fE320A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


#page2-bottom {

    height: 80vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 1;

}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;


}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 100;
    margin-top: 2vw;
    text-align: center;

}


#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #fE320A, #ff9913);
    top: 58%;
    left: 25%;
    filter: blur(30px);
    animation-name: gooey;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

#page3 {

    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;




}

@keyframes gooey {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
    }
}


.elem {
    height: 150px;
    width: 100%;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 2vw;

    border-bottom: 1px solid black;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: ease-in 0.2s;
}

.elem:hover .overlay {
    top: 0;
}

#elem-container {
    padding: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 10px;

    position: fixed;
    z-index: 99;
    top: 25%;
    left: 50%;
    display: none;
}

#page4 {
    height: 60vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
}

#page5 {
    height: 100vh;
    width: 100%;

    /* background-color: #efeae3; */
}


#footer {
    position: fixed;

    width: 100%;

    background-color: #5c5959;

    z-index: 9;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}


#footer h1 {
    color: white;
    font-size: 23vw;
}